---
Checks: >
  bugprone-*,
  boost-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  clang-analyzer-cplusplus*,
  modernize-*
  readability-*
  misc-*
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: file
...
